# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# macOS
.DS_Store

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Migrations
*/migrations/
*/migrations/*.pyc
*/migrations/*.pyo

# Test and coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Others
*.swp
*.swo